*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
}

/*FUENTES*/
@font-face{
    font-family: "TrebuchetMS";
    src: url('fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "BebasNeue";
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "WebSymbolsRegular";
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embebed-opentype'),
         url('fonts/websymbols-regular-webfont.woff') format('woff'),
         url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('fonts/websymbols-regular-webfont.svg#WeBSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    background: url('../img/pattern.png');
}

.wrap{
    width: 1250px;
    margin: 0 auto;
}

.clearfix{
    float: none;
    clear: both;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

/*HEADER*/
#header{
    width: 100%;
    height: 200px;
    background-color: #0A162E;
    font-family: "BebasNeue";
    color: white;
}

#logo img{
    float: left;
    width: 15%;
    border-radius: 110px;
}

/*Barra de navegacion*/
#menu{
    float: right;
    height: 70px;
    background-color: transparent;
    margin-top: 130px;
}

#menu ul li{
    font-size: 24px;
    display: inline-block;
    margin: 0 24px;
    letter-spacing: 1px;
    line-height: 70px;
}

#menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
    transition: all 200ms;
}

#menu ul li a:hover{
    color: #03832E;
    transform: scale(1.2, 1.2);
}

/*Banner*/
#banner{
    width: 95.5%;
    height: 100px;
    border: 10px solid white;
    box-shadow: 0 0 2px gray;
    background: url("../img/bakbaner.png");
    background-position: -200px -200px;
    margin: 20px auto;
    overflow: hidden;
    animation: backBanner 10s linear;
}

@keyframes backBanner{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: -200px -200px;
    }
}

#banner h1{
    display: block;
    text-align: center;
    font-family: "BebasNeue";
    color: white;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px black;
    margin: 27px auto;
    animation: showText 10s linear;
}

@keyframes showText{
    0%{
        transform: translateX(-600%) scale(5,5);
        opacity: 1;
    }
    50%{
        transform: translateX(600%) scale(5,5);
        opacity: 1;
    }
    75%{
        transform: translateX(-600%) scale(5,5);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }
    100%{
        transform: translateX(0%) scale(1,1);
        text-shadow: 2px 2px 1px black;
        color: white;
        opacity: 1;
    }
}

/*CARDS*/
#cards > h2{
    display: block;
    width: 96%;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
    background: url(../img/pxgray.png), white;
    box-shadow: 0 1px 0 #393d3f, 1px 2px 0 #393d3f, 2px 3px 0 #393d3f, 3px 4px 0 #393d3f;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

#cards .carrera{
    font-size: 3rem;
}

.card {
    float: left;
    width: 250px;
    height: 320px;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 2px #DDD;
    background: white;
    overflow: hidden;
    margin: 30px;
    margin-top: 12px;
    cursor: pointer;
    transition: all 300ms;
}

.card:hover{
    background-color: black;
}

.card:last-child{
    margin-right: 0px;
}

.card .icon{
    display: block;
    width: 100%;
    height: 130px;
    font-size: 50px;
    line-height: 110px;
    text-align: center;
    margin: 0  auto;
    transition: all 300ms;
}

.card:hover .icon{
    font-size: 70px;
    color: #37bcf9;
    animation: showTcon 300ms linear;
}

@keyframes showIcon{
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0%);
    }
}

.card .category{
    width: 100%;
    height: 50px;
    font-family: "TrebuchetMS";
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #00538C;
    transition: all 300ms;
}

.card:hover .category{
    color: white;
    animation: showCategory 400ms linear;
}

@keyframes showCategory{
    from{
        transform: translateY(-300%);
        color: black;
    }
    to{
        transform: translateY(0%);
        color: white;
    }
}

.card .description {
    text-align: center;
    color: #0370b9;
    font-size: 16px;
    padding: 0 10px;
    margin: 0px;
    font-family: "TrebuchetMS";
    transition: all 300ms;
}

.card:hover .description  {
    color: white;
    animation: showDescription 400ms linear;
}

/*Agregado para las paginas de las carreras*/
.contenedor{
    width: 96%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0.625rem ;
    border: 1px solid #CCC;
    background: white;
    overflow: hidden;
}
.contenedor__img{
    width: 96%;
    height: 21.875rem;
    /*background: #CCC*/;
    margin: 0 auto;
    margin-top: 0.3125rem;
    padding: 0.625rem;;
    text-align: center;
    font-size: 3.125rem;
    border: 1px solid #CCC;

    
}

.contenedor__descripcion{
    width: 96%;
    margin: 0 auto;
    margin-top: 5px;
    padding: 0.625rem;;
    border: 1px solid #CCC;
    background: white;
    font-size: 2.125rem;
    border-spacing: 20px;
    overflow: hidden;
    
}

.descripcion p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.descargapdf {
    font-size:1.5rem;
    margin-top: 1rem;
    font-weight: bold;
    font-family: "TrebuchetMS";
}



.descargapdf a:hover{
    color: #00538C;
}

.titular{
    color: #00538C;
    font-family: "TrebuchetMS"
}



/*FIN*/


.ancho{
    width: 45%;
}



@keyframes showDescription{
    from{
        transform: translateX(-300%);
        color: black;
    }
    to{
        transform: translateX(0%);
        color: white;
    }
}

@keyframes showDescarga{
    from{
        transform: translateX(-300%);
        color: black;
    }
    to{
        transform:translateX(0%);
        color: white;
    }
}

/*Barra lateral*/

#lateral{
    width: 300px;
    min-height: 1200px;
    font-family: "TrebuchetMS";
    float: right;
    margin: 20px;
}

aside h3{
    display: block;
    width: auto;
    height: 45px;
    line-height: 49px;
    background: url(../img/pxgray.png), white;
    box-shadow: 0 1px 0 #393d3f, 1px 2px 0 #393d3f, 2px 3px 0 #393d3f, 3px 4px 0 #393d3f;
    font-size: 30px;
    font-family: "BebasNeue";
    font-weight: normal;
    letter-spacing: 2px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
}

aside h3:first-child{
    margin-top: 0;
}

#search{ 
    width: 90%;
    height: 30px;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #CCC inset;
}

#search input[type="button"]{
    font-family: "WebSymbolsRegular";
}

#lateral input[type="text"]{
    width: 85%;
    height: 30px;
    border: none;
    padding-left: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: #CCC;
    transition: all 300ms;
}

#lateral input[type="text"]:focus{
    color: #555;
}

#lateral input[type="button"],
#lateral input[type="submit"]{
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-left: 1px solid #CCC;
    color: #555;
    padding-left: 6px;
}

.aside-box{
    width: 85%;
    height: 240px;
    margin: 0  auto;
    margin-top: 20px;
    padding-top: 2px;
    background: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0 -3px 2px rgba(0, 0, 0, 0.3) inset;
}

#login input[type="email"],
#login input[type="password"]{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 82%;
    height: 30px;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 1px #CCC inset;
    border-radius: 5px;
    padding-left: 30px;
    transition: all 300ms;
}

#login input[type="email"]:focus,
#login input[type="password"]:focus{
    color: #555;
    box-shadow: 1px 1px 1px gray inset;
}

#login #user, #login #password{
    display: block;
    position: absolute;
    text-align: center;
    margin-left: 15px;
    margin-top: 6px;
    height: 30px;
}

#login #password{
    margin-left: 18px;
    margin-top: 25px;
    font-size: 20px;
}

#login input[type="button"],
#login input[type="submit"],
#login input[type="reset"],
#login button{
    /*display: block;*/
    text-align: center;
    width: 100px;
    height: 35px;
    margin-top: 20px;
    color: white;
    background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
    border: 1px solid #156785;
    border-radius: 0px;
    cursor: pointer;
    font-size: 15px;
    font-family: "TrebuchetMS";
    font-weight: lighter;
    margin-left: 17px;
    margin-bottom: 20px;
    transition: all 300ms;
}

#login input[type="button"]:hover,
#login input[type="submit"]:hover,
#login input[type="reset"]:hover,
#login button:hover{
    box-shadow: 0 0 3px gray;
}

#login a{
    display: block;
    font-size: 14px;
    text-decoration: none;
    margin-left: 18px;
    color: #555;
}

#login a:hover{
    text-decoration: underline;
    color: #2f78bc;
}

#social{
    height: 190px;
}

#social a{
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#social .overlay{
    display: block;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 0 1px #CCC;
    border: 3px solid white;
    box-shadow: 0 0 4px #CCC;
    background: #f4f7fe;
    position: absolute;
    padding: 5px;
    margin-left: 70px;
    margin-top: -52px;
    cursor: pointer;
    transform: translateX(-80%);
    opacity: 0;
    transition: all 400ms;
}

#social div:hover .overlay{
    transform: translateX(0%);
    opacity: 1;
}

/*Articulos*/

#articles{
    width: 860px;
    float: left;
}

#articles h2{
    display: block;
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
    background: url(../img/pxgray.png), white;
    box-shadow: 0 1px 0 #393d3f, 1px 2px 0 #393d3f, 2px 3px 0 #393d3f, 3px 4px 0 #393d3f;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

#articles article{
    width: 98%;
    height: auto;
    border: 1px solid #CCC;
    margin: 40px auto;
    padding: 10px;
    font-family: "TrebuchetMS";
    background: white;
    color: black;
    box-shadow: 1px 1px 2px #ddd;
}

#articles article h4{
    display: block;
    font-size: 23px;
    margin: 3px;
}

#articles article h4 a{
    text-decoration: none;
    color: #00538C;
}

#articles article h4 a:hover{
    text-decoration: underline;
}

#articles .data{
    float: right;
    background: #393D3F;
    color: white;
    height: 30px;
    line-height: 30px;
    margin: -10px;
    padding: 4px;
    font-size: 13px;
    border-radius: 0 0 0 5px;
}

#articles .data span{
    margin: 6px;
}

#articles article p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

#blog{
    height: 100px;
    margin-top: 60px;
    line-height: 100px;
    text-align: center;
    transition: all 1s;
}

#blog a{
    display: block;
    font-family: "BebasNeue";
    font-size: 40px;
    letter-spacing: 3px;
    text-decoration: none;
    color: #00538C;
    transition: all 1s;
}

#blog:hover{
    background-color: #333;
    border: 10px solid #37bcf9;
    border-radius: 240px;
    box-shadow: 0 0 10px gray;
    animation: blink 10s infinite linear;
}

#blog:hover a{
    text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 4px 1px black, 1px 5px 1 px black, 1px 6px 1 px black;
    color: white;
}

@keyframes blink{
    0%{
        border: 10px solid #37bcf9;
    }
    25%{
        border: 10px solid green;
    }
    50%{
        border: 10px solid yellow;
    }
    75%{
        border: 10px solid lightsalmon;
    }
    100%{
        border: 10px solid #37bcf9;
    }
}

/*Footer*/
#footer{
    width: 100%;
    height: 470px;
    background: black;
    color: white;
    overflow: hidden;
}

#footer .wrap > div{
    float: left;
    width: 320px;
    height: 370px;
    margin: 40px;
    text-align: center;
    color: white;
    font-family: "TrebuchetMS";
}

#footer a{
    text-decoration: none;
    color: #03832E;
    transition: all 300ms;
}

#footer h5{
    display: block;
    background: url(../img/pxgray.png), white;
    height: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-family: "BebasNeue";
    font-size: 40px;
    line-height: 55px;
    color: black;
    border-radius: 5px;
    margin-bottom: 15px;
}

#footer ul{
    text-align: left;
    margin: 20px;
    font-size: 25px;
}

#footer ul li{
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}

#footer ul li a{
    display: block;
    height: 40px;
    transition: all 300ms;
}

#footer ul li:hover a{
    padding-left: 40px;
    color: white;
    width: 100%;
}

#footer iframe{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0 0 5px gray;
}

#footer img{
    margin-bottom: 15px;
}

#footer #browsers img{
    width: 45px;
}